name: Link validation
on:
  push:
    branches:
      - master
      - main
permissions:
  contents: read
env:
  DOCKER_VALIDATOR: ghcr.io/your-ko/link-validator
  DOCKER_VALIDATOR_VERSION: "1.8.0"
jobs:
  link-validator:
    name: link-validator
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Link validation
        id: lnk
        shell: bash
        run: |
          docker run --rm \
            -e 'LOG_LEVEL=debug' \
            -e 'FILE_MASKS=*.md' \
            -e 'IGNORED_DOMAINS=token.actions.githubusercontent.com' \
            -e 'PAT=${{ secrets.GITHUB_TOKEN }}' \
            -v "${{ github.workspace }}:/work" \
            -w /work \
            ${DOCKER_VALIDATOR}:${DOCKER_VALIDATOR_VERSION}
