name: Link validation Workflow
on:
  workflow_call:
    inputs:
      log-level:
        description: 'Controls verbosity (debug, info, warn, error)'
        default: "info"
        type: string
      file-mask:
        description: "Comma-separated file patterns to scan. Only markdown is supported in the current version"
        default: "*.md"
        type: string
      pat:
        description: "GitHub.com personal access token. Optional. Used to avoid rate limiting"
        default: ""
        type: string
      corp-url:
        description: "GitHub Enterprise base URL, for example, https://github.mycorp.com"
        default: ""
        type: string
      corp-pat:
        description: >
          GitHub Enterprise personal access token. The PAT needs read access to repositories referenced in your documentation.

        default: ""
        type: string
permissions:
  contents: read
env:
  DOCKER_VALIDATOR: ghcr.io/your-ko/link-validator
  DOCKER_VALIDATOR_VERSION: "1.7.4"
jobs:
  link-validator:
    name: link-validator
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5.0.0
      - name: Link validation
        id: lnk
        shell: bash
        run: |
          docker run --rm \
            -e 'LOG_LEVEL=${{ inputs.log-level }}' \
            -e 'FILE_MASKS=${{ inputs.file-mask }}' \
            -e 'PAT=${{ inputs.pat }}' \
            -e 'CORP_PAT=${{ inputs.corp-pat }}' \
            -e 'CORP_URL=${{ inputs.corp-url }}' \
            -v "${{ github.workspace }}:/work" \
            -w /work \
            ${DOCKER_VALIDATOR}:${DOCKER_VALIDATOR_VERSION}
